<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>All surveys</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<style>
	table {
  	font-family: arial, sans-serif;
 	border-collapse: collapse;
  	width: 100%;
	}

	td, th {
	border: 1px solid #dddddd;
  	text-align: left;
  	padding: 8px;
	}

	tr:nth-child(even) {
  	background-color: #dddddd;
	}
</style>
<body>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	<table>
				<tr th:each = "survey : ${surveys}">
					<td th:text="${survey.kyselyid}"></td>
					<td th:text="${survey.kyselynimi}"></td>
					<td th:text="${survey.deployattu}"></td>
					<td><a th:href="@{/api/kysymys/kyselyid/__${survey.kyselyid}__}">Kyselyn tiedot</a></td>
					<td><a th:href="@{/kaikkivastaukset/kyselyid/__${survey.kyselyid}__}">Kyselyn vastaukset</a></td>
					<td><a th:href="@{/muokkaakysely/__${survey.kyselyid}__}" class="btn btn-md btn-default">Muokkaa</a></td>
					<td><a th:href="@{/poistakysely/__${survey.kyselyid}__}" class="btn btn-md btn-danger" onclick="return confirm('Haluatko varmasti poistaa kyselyn?');">Poista</a></td>
				</tr>
	</table>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/lisaa}" method="post">
			<input type="submit" value="Lisää kysely" class="btn btn-sm btn-success"/>
		</form>
	</div>
</body>
</html>