<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Muokkaa tietoja</title>
	<meta http-equiv="Content-Type" content="text/html" charset= "UTF-8">
	<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<style>
	table {
  	font-family: arial, sans-serif;
 	border-collapse: collapse;
  	width: 100%;
	}

	td, th {
	border: 1px solid #dddddd;
  	text-align: left;
  	padding: 8px;
	}

	tr:nth-child(even) {
  	background-color: #dddddd;
	}
</style>
<body>
	<div class="container">
	<div class="col-md-4">
		<h3>Muokkaa kyselyn tietoja</h3>
		<form th:object="${kysely}" th:action="@{../tallennakysely}" action="#" method="post">
			<input type="hidden" th:field="*{kyselyid}"/>
				
				<label for="kyselynimi">Kyselyn nimi</label>
				<input type="text" id="kyselynimi" th:field="*{kyselynimi}" class="form-control"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<p>Deployaus: <select  style="width: 300px" id="deplist" th:field="*{deployattu}" class="form-control"> 
       		<option th:each="deployattu: ${status}" th:value="${deployattu}" th:text="${deployattu}"></option>
    	</select> </p>
			
				<div style="clear: both; display: block; height: 10px;"></div>
				<input type="submit" value="Tallenna" class="btn btn-md btn-success "></input>
			
				<div style="clear: both; display: block; height: 10px;"></div>
				<a href="/index" class="btn btn-primary">Takaisin</a>
			</form>
			
			<h3>Muokkaa lomakkeen kysymyksiä</h3>
			
			<table>
				<tr>
					<th>Kysymys-id</th>
					<th>Kysymyksen teksti</th>
					<th>Kysymystyyppi</th>
				</tr>
				<tr th:each = "kysymys : ${kysymykset}">
					<td th:text="${kysymys.kysymysid}"></td>
					<td><a th:text="${kysymys.kysymysteksti}" th:href="@{/katsovastaukset/{kysymysid}(kysymysid=${kysymys.kysymysid})}" ></a></td>
					<td th:text="${kysymys.tyyppi}"></td>
					<td><a th:href="@{/muokkaakysymys/__${kysymys.kysymysid}__}" class="btn btn-md btn-default">Muokkaa</a></td>
					<td><a th:href="@{/poistakysymys/__${kysymys.kysymysid}__}" class="btn btn-md btn-danger" onclick="return confirm('Haluatko varmasti poistaa kysymyksen?');">Poista</a></td>
				</tr>
	</table>
	     <div class="col-md-4" style="padding:20px 0">
        <form th:action="@{/muokkaakysely/{kyselyid}(kyselyid=${kysely.kyselyid})}" method="post">
            <input type="submit" value="Lisää kysymys" class="btn btn-sm btn-success"/>
        </form>
    </div>
    </div>
</div>
</body>
</html>
