<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Muokkaa monivalintaa</title>
	<meta http-equiv="Content-Type" content="text/html" charset= "UTF-8">
	<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<form th:object="${monivalinta}" th:action="@{../tallennavalinta}" action="#" method="post">
				<input type="hidden" th:field="*{kysymys}"/>
				<p>Monivalinta vaihtoehto: <input type="text" th:field="*{valintanimi}" /></p>
				<input type="submit" value="Lisää vaihtoehto" class="btn btn-md btn-success "></input>
				<a th:href="@{'/muokkaakysely/'+ *{kysymys.kysely.kyselyid}}" class="btn btn-primary">Takaisin</a>
			</form>
			
			<div style="clear: both; display: block; height: 10px;"></div>

		<table>
			<tr th:each="monivalinta: ${monivalinnat}">
			<td th:text="${monivalinta.valintanimi}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/poistavalinta/{id}(id=${monivalinta.valintaid})}" class="btn btn-danger">Poista</a></td>
			</tr>
		</table>
    </div>
</body>
</html>