<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Muokkaa tietoja</title>
	<meta http-equiv="Content-Type" content="text/html" charset= "UTF-8">
	<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
	<h3>Muokkaa kysymyksen tietoja</h3>
	<div class="col-md-4">
	
		<form th:object="${kysymys}" th:action="@{../tallennakysymys}" action="#" method="post">
			<input type="hidden" th:field="*{kysymysid}"/>
			<input type="hidden" th:field="*{kysely}" />
				<label for="kysymysteksti">Kysymyksen teksti</label>
				<input type="text" id="kysymysteksti" th:field="*{kysymysteksti}" class="form-control"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<!-- <label for="tyyppi">Kysymystyyppi</label>
				<input type="text" readonly id="tyyppi" th:field="*{tyyppi}" class="form-control"/>
				 <div style="clear: both; display: block; height: 10px;"></div> -->
				
				<p>Kysymystyyppi: <select  style="width: 300px" id="deplist" th:field="*{tyyppi}" class="form-control"> 
       		<option th:each="tyyppi: ${tyypit}" th:value="${tyyppi}" th:text="${tyyppi}"></option>
    	</select> </p>
			
			<p>Monivalinta vaihtoehto: <input type="text" th:field="${monivalinta.valintanimi}" /></p>
			
			
			<input type="submit" value="Lisää vaihtoehto" class="btn btn-md btn-success "></input>
				<div style="clear: both; display: block; height: 10px;"></div>
				<input type="submit" value="Tallenna" class="btn btn-md btn-success "></input>
			
				<div style="clear: both; display: block; height: 10px;"></div>
				<!-- <a th:href="/muokkaakysely/__*{kysely.kyselyid}__" class="btn btn-primary">Takaisin</a>-->
				
				<a th:href="@{'/muokkaakysely/'+ *{kysely.kyselyid}}" class="btn btn-primary">Takaisin</a>
				
			</form>
			<table>
			<tr th:each="monivalinta: ${monivalinnat}">
			<td th:text="${monivalinta.valintanimi}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/poistavalinta/{id}(id=${monivalinta.valintaid})}" class="btn btn-danger">Poista</a></td>
			</tr>
	</table>
    </div>
</div>
</body>
</html>
