<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>TEST</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	
			
					<h3>POST BUTTON TEESTTT</h3>
					<p> :D </p>
					<input type="submit" value="Submit" onclick="location.href = '/tallennaVastaukset';" class="btn btn-success" />
			
</body>
</html>