<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> 
</head>
<style>
	table {
  	font-family: arial, sans-serif;
 	border-collapse: collapse;
  	width: 70%;
	}

	td, th {
	border: 1px solid #dddddd;
  	text-align: left;
  	padding: 8px;
	}

	tr:nth-child(even) {
  	background-color: #dddddd;
	}
</style>
<body>
	<h1 th:text="${kysely.kyselynimi}"></h1>
	<p>Kyselyyn vastaajien lukumäärä: <p th:text="${vastaaja_lkm}"></p></p>
	<table>
        <tr>
			<th>Kysymys</th>
			<th:block th:each="vastaus : ${kysymys.vastaukset}">
				<td th:text="${vastaus.vastausteksti}">vastaukset</td>
			</th:block>
        </tr>

		<tr th:each="kysymys : ${kysymykset}">
			<td th:text="${kysymys.kysymysteksti}"></td>
			<th:block th:each="vastaus : ${kysymys.vastaukset}">
				<td th:text="${vastaus.vastausteksti}">vastaukset</td>
			</th:block>
		</tr>
		</table>
		<div>
		
		</div>
</body>
</html>